alembic
aniso8601
bcrypt
blinker
certifi
charset-normalizer
click
cloudinary
colorama
cors
dnspython
email-validator
Faker
filelock
Flask
Flask-Bcrypt
Flask-Cors
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
future
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
libxml2-python
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
migrate
packaging
psycopg2-binary
PyJWT
PySocks
python-dateutil
pytz
requests
requests-file
six
SQLAlchemy
SQLAlchemy-serializer
tldextract
typing_extensions
urllib3
Werkzeug
WTForms
zope.event
zope.interface
